*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 100%, 65%);
}

#accordion{
    width: 600px;
}

#accordion li{
    list-style: none;   
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
}
#accordion li label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: dodgerblue;
    cursor: pointer;
}
#accordion li input[type="radio"]{
    display: none;

}

li span{
    transform: rotate(90deg);
    color: dodgerblue;
}
li span:hover{
    color: blue;
}

.content{
   padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

input[type="radio"]:checked + .content {
  max-height: 400px;
}





