*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-container{
    background: url(thumb-1920-597965.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

img{
    position: absolute;
    bottom: 20px;
    right: 50px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    animation: bounce 1s ease-in  infinite  ;
}

@keyframes bounce {
    0%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    50%{
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    
}

.video-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity 0.7s;
}

video{
    position: inherit;
    max-width: 900px;
    outline: none;
}
.close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #f26415;
  font-size: 40px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 100%;
}

@media (max-width: 991px){
    video{
        max-width: 90%;
    }
}
.active{
    visibility: hidden;
    transition: all 0.3s;

}

