*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#24C6DC,#514A9D);
}

.container{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: hsl(199, 100%, 92%);
    border-radius: 8px;
}
.container img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.imgBox{
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 8px;
    transition: all 1s;
    z-index: 2;
}

.container:hover .imgBox{
    bottom: 50px;
}

.container::before,
.container::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    transition: all 1s;
    z-index: -1;
}

.container:hover::before{
    transform: rotate(20deg);
}

.container:hover::after{
    transform: rotate(10deg);
}

.content{
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    height: 30px;
    text-align: center;
    z-index: 1;
}