*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #60efff,#00ff87);
}
.tooltip{
    font-size: 2rem;
    font-weight: 800;
    font-family: verdana;
    position: relative;
    cursor: pointer;
}

.tooltip-text{
    visibility: hidden;
    width: 180px;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip-text::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 5px solid;
    border-color: black transparent transparent  transparent;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}