*{
padding: 0;
margin: 0;
}

body{
    height: 100vh;
    font-family: sans-serif;
    background: #000;
    color: #fff;
}
.content{
    padding: 4rem;
}
section{
    border: 2px solid white;
    padding: 20px;
    margin: 20px 0;
}

section h1{
    margin: 10px 0;
}

.scroll-indicator{
    height: 5px;
    width: calc(100% - 6em);
    position: fixed;
    top:10px;
    left: 3em;
    border-radius: 3px;
}
.progress{
    height: 100%;
    width:0;
    border-radius: 3px;
    background: linear-gradient(#40c9ff,#e81cff);
    transition: width 0.1s;
}
