*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

h2{
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

button{
    background-color: transparent;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    color: white;
    font-size: 1.5rem;
    border-radius: 6px;
    transition: all 0.5s;
}

button:hover{
    background-color: white;
    color: black;
}

button:active{
    transform: scale(0.7);
}