*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    margin-left: 50px;
    
}

.circle1{
    animation-name: circle1;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
.circle2{
    animation-name: circle1;
    animation-duration: .5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    
}
.circle3{
    animation-name: circle1;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    
}
.circle4{
    animation-name: circle1;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    
}


@keyframes circle1 {

    0% {
        transform: scale(1);
        transform: translate(0,0);
    }

    50%{
        transform: scale(1.3);
        transform: translate(0,100px);
    }

    100%{
        transform: scale(1);
        transform: translate(0,0);
    }
}