body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.cursor{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: yellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}