*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-image: radial-gradient(rgb(255, 251, 197)40%,rgb(243, 243, 243));
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

    .icons{
        margin-left: 20px;
        font-size: 1.5rem;
    }

    ul li{
        display: inline;
        margin-left: 20px;
        list-style: none;

        a{
         font-size: 1.5rem;
         text-decoration: none;
         color: hsl(0, 3%, 22%);   
        }
    }
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .container-l{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: 4rem;
        width: 33vw ;
         margin-top: 2rem;
        
         .container-left{
            margin-bottom: 4rem;
        }
    }
    .container-r{
        height: 90vh;
        width: 33vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 4rem;
        margin-top: 2rem;

        .container-right{
            margin-bottom: 4rem;
        }
    }
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    box-shadow: 4px 4px 8px 2px gray;

    .image{
        width: 300px;
        height: 480px;
        border-radius: 20%;
        background-image: url(0X9A9945.JPG);
        background-position: center;
        background-size: cover;
    }
}
.badge-label{
    font-size: 1.5rem;
    font-family:serif;
    padding: 10px 10px ;
    margin-bottom: 10px;
}
.info{
    font-size: 1.1rem;
}
.pills-container{
    grid-template-columns: 100px 100px 100px ;
    display:grid;
    gap:10px;
    .pills{
        margin-bottom: 10px;
        border:none;
        box-shadow: 4px 4px 8px -4px rgb(39, 39, 39);
        border-radius: 10px;
        padding: 5px 10px ;
        text-align: center;
    }
}
.loc{
    display: inline;
}
