*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(271, 80%, 63%);
}
.calContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    height: 450px;
    padding: 20px 20px;
    border: 3px solid hsl(64, 97%, 69%);;
}

.result{
    font-size: 2.5rem;
    font-family: sans-serif;
    border: 2px solid hsl(64, 97%, 69%);
    border-radius: 10px;
    padding: 10px 20px;
    width: 260px;
    text-align: center;
    overflow-x: hidden;
}
#selectOp{
    padding: 5px 10px;
    font-size: 20px;
    border: 2px dashed hsl(59, 96%, 50%);
    background-color: transparent;
}

input{
    padding: 10px 35px;
    width: 300px;
}

button{
    margin-top: 20px;
    padding: 10px 20px ;
    background-color: transparent;
    border: 2px solid hsl(64, 97%, 69%);
    border-radius: 10px;
}
