body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30rem;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.card-container::before{
    content: "";
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    z-index: 1;
    transition: all 1s;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
    text-align: justify;    
    z-index: 2;
    transition: all 1s;
}
.card-container:hover:before{
    bottom: 0;
}

.content h2{
    font-size: 2rem;
    font-family: georgia;
}
p {
  line-height: 25px;
  padding: 20px 0;
  margin: 20px 0;
}

button{
    background-color: black;
    color:hsl(60, 100%, 70%);
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
}
.content:hover{
    color: white;
}