*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switch{
    width: 0;
    height: 0;
}

label{
    width: 130px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

#switch:checked + label::after{
    background-color: black;
    left: calc( 100% - 5px);
    transform: translateX(-100%);
}

#switch:checked + label{
    background-color: white;
}
label::after{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: all 0.5s;
}
label:active::after {
  width: 60px;
}